@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: "SF-Fedora";
    src: url("SF-Fedora.ttf");
}

body {
    background-image: url("images/background_wallpaper.jpg");
    background-repeat: no-repeat;
    z-index: -100;
    background-attachment: fixed;
    background-size: cover;
}

#jojoheader {
    position: relative;
    margin: -10px;
    padding: 1vw 40vw;
    color: rgb(212, 58, 10);
    background-color: rgb(22, 70, 146);
    font-family: "SF-Fedora";
    font-size: large;
    display: inline-block;
    text-shadow: rgb(0, 0, 0) 4px 4px 8px;
}

#jojofooter {
    display: block;
    position: relative;
    margin: -10px;
    background-color: rgb(22, 70, 146);
    padding: 0.3vw 40vw;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#jojofooter p {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: left;
}

#corps {
    background-color: rgba(13, 116, 134, 0.8);
    border-radius: 25px;
    padding: 50px 20px;
    margin: 30px 20px;
    position: relative;
    display: block;
}

#navigator {
    margin: 20px 30px 80px 200px;
    font-size: larger;
    border-style: double;
    position: relative;
    display: inline-block;
    padding: 15px;
    font-family: "DM Serif Display", sans-serif;
    /*color: rgb(102, 11, 124);*/
}

#saisons ul{
    font-family: "Fitgree", sans-serif;
}

ul {
    list-style: none;
    margin-left: -30px;
    margin-top: -10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

#imagesaisons {
    position: relative;
    display: block;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
}

#personnages div::after {
    content: "";
    display: table;
    clear: both;
}

#personnages div ul {
    margin-top: 50px;
}

#personnages div {
    text-align: left;
    padding: 50px;
    display: flex;
    justify-content: center;
}

#personnages img {
    display: block;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    float: left;
}

#imageppminka {
    position: relative;
    display: block;
    width: 20vw;
    margin-left: 120px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 15px;
}

ul li {
  list-style: none;
}

#personnages img {
    margin: 30px 50px 10px 20px;
}

#personnages ul, #saisons ul {
    font-size: larger;
}

#personnages ol li::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-image: url('/images/fleche.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0.5em -0.25em -1em;
  font-family: "Fitgree", sans-serif;
}

#corps h2 {
    text-align: center;
    font-family: "SF-Fedora";
}

#saisons ul {
    text-align: center;
}